# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.env.local
.env.*.local

# General
.DS_Store
.idea/
.vscode/
*.log

# Mac
.AppleDouble
.LSOverride

# Node (in case it's in root)
node_modules/
npm-debug.log
yarn-error.log

# Databases
*.db
